@import url(https://rsms.me/inter/inter.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  z-index: 1;
  background: #151515;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    background-image: url("/assets/svgs/grid-lines.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 50%;
    opacity: 0.0875;
    z-index: 5;
  }
}

header,
section {
  position: relative;
  z-index: 5;

  * {
    position: relative;
  }
}

h1,
h2 {
  font-size: clamp(4.5rem, 8vw, 8.5rem);
  letter-spacing: -0.039em;

  @media (max-width: 767px) {
    font-size: clamp(3rem, 8vw, 5rem);
  }
}

h3 {
  font-size: clamp(3.5rem, 5.5vw, 5.5rem);
  letter-spacing: -0.039em;

  @media (max-width: 767px) {
    font-size: clamp(2.25rem, 8vw, 3.5rem);
  }
}
p {
  color: #757575;
  font-size: 18px;
  font-weight: 300;
  line-height: 195.5%;
  letter-spacing: 0.005em;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
